@import '~@angular/material/theming';
@include mat-core();

$custom-primary: mat-palette($mat-orange, 400);
$custom-accent:  mat-palette($mat-orange, 400);
$custom-warn:    mat-palette($mat-orange, 400);

$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);
@include angular-material-theme($custom-theme);
@include mat-form-field-theme($custom-theme);
@include mat-input-theme($custom-theme);
