<mat-card class="container-card">
  <mat-card-title>SmarTODO</mat-card-title>
  <div class="container">
    <div class="input-container">
    <mat-form-field>
      <input matInput placeholder="to-do" #todoText color="primary">
    </mat-form-field>
    <button mat-raised-button class="addBtn" (click)="onAdd(todoText)">Tilføj</button>
    </div>
  </div>
  <mat-list *ngFor="let todo of toDolistArray">
    <mat-list-item [class.todo-finished]="todo.finished">
          <span class="pointer finish-toggle" (click)="toggleFinished(todo.$key, todo.finished)">
            <i class="material-icons" *ngIf="!todo.finished">radio_button_unchecked</i>
            <i class="material-icons success" *ngIf="todo.finished==true">check_circle</i>
          </span>
      {{todo.text}}
      <span class="pointer trash" (click)="deleteTodo(todo.$key)">
        <i class="material-icons">delete_forever</i>
      </span>
    </mat-list-item>
  </mat-list>
</mat-card>
